# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Log en data bestanden
log.txt
dumpert_supercut_data.csv

# Media bestanden - negeer alle video/audio bestanden
*.mp4
*.mp4.part
*.part
*.wav
*.ts
dumpert-supercut.mp4

# Tijdelijke compilatie bestanden
temp_clips/
concat_list.txt
kuts
kuts/kuts-bak
word_database.json
# OS / Editor specifieke bestanden
.DS_Store
.vscode/
*.deb
