# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Log en data bestanden
log.txt
dimper_supercut_data.csv

# Media bestanden - negeer alle video/audio bestanden
*.mp4
*.mp4.part
*.part
*.wav
*.ts
dimper-supercut.mp4

# Tijdelijke compilatie bestanden
temp_clips/
concat_list.txt
kuts
kuts/kuts-bak
# OS / Editor specifieke bestanden
.DS_Store
.vscode/
